*{
    outline: none;
}

body{
    height: auto;
    background:#f4f4f4;
}


ul{
    list-style: none;
    padding:0;
    margin:0;
}

.right{
    float:right;
}

.left{
    float:left;
}

.capitalize{
    text-transform: capitalize;
}

.notification{
    background: #ff0042;
    color: #fff;
    padding: 0px 5px;
    font-size: 10px;
    line-height: 15px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #fff;
}

.float-width{
    float:left;
    width:100%;
    margin-bottom: 10px;
}

.top-from-navbar{
    margin-top:70px;
}

.avatar{
    max-width:70px;
    max-height:70px;

}

.ui-font-color{
    color:#4c5264;
}


.avatar.small{
    width:35px;
    height:35px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
}

.avatar.medium{
    width:40px;
    height:40px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
}


.opacity{
    background:url("/images/general/opacity.png") repeat;
}

