*{
    outline: none;
}

body{
    height: auto;
    background:#f4f4f4;
}


ul{
    list-style: none;
    padding:0;
    margin:0;
}

.right{
    float:right;
}

.left{
    float:left;
}

.capitalize{
    text-transform: capitalize;
}

.float-width{
    float:left;
    width:100%;
    margin-bottom: 10px;
}

.top-from-navbar{
    margin-top:70px;
}

.avatar{
    max-width:70px;
    max-height:70px;

}

.avatar.small{
    width:30px;
    height:30px;
}

.avatar.medium{
    width:40px;
    height:40px;
}

.font-size-12{
    font-size: 12px;
}

/* Tiny Modal Width */

@media only screen and (max-width: 767px) {
    .ui.tiny.modal {
        width: 95%;
        margin: 0em 0em 0em -47.5%;
    }
}

@media only screen and (min-width: 768px) {
    .ui.tiny.modal {
        width: 50%;
        margin: 0em 0em 0em -25%;
    }
}

@media only screen and (min-width: 992px) {
    .ui.tiny.modal {
        width: 200px;
        margin: 0em 0em 0em -100px;
    }
}

@media only screen and (min-width: 1200px) {
    .ui.tiny.modal {
        width: 300px;
        margin: 0em 0em 0em -150px;
    }
}

@media only screen and (min-width: 1920px) {
    .ui.tiny.modal {
        width: 400px;
        margin: 0em 0em 0em -200px;
    }
}

.blurring.dimmable > .dimmer {
    background-color: rgba(0, 0, 0, 0.1) !important;
}


.ui.modal > .close {
    color: #484952;
}


.post-warp{
    float:left;
    width:100%;
    background:#fff;
    padding:15px 0;
    margin-bottom:15px;
}