<template name="message">

    {{#if userMessage}}

        <div class="message">
            <div class="message-avatar right">
                <img src="{{avatarFromId user}}">
                <span>{{timestampToTime timestamp}}</span>
            </div>


            <div class="message-bubble blue">
                    {{text}}
            </div>
        </div>
    {{/if}}

    {{#unless userMessage}}

        <div class="message">
            <div class="message-avatar left">
                <img src="{{avatarFromId user}}">
                <span>{{timestampToTime timestamp}}</span>
            </div>


            <div class="message-bubble white">
                {{postContentParse text}}
            </div>
        </div>

    {{/unless}}
</template>