.post-wrapper{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.inner-post-wrapper{
    float: right;
    width: calc(100% - 65px);
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #eee;
    background: #fff;

}

.post-user-image{
    float:left;
}

.post-user-image img {
    float:left;
    width: 50px;
    height:50px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}


.post-user-content{
    position: relative;
    float:left;
    width:100%;
    padding: 15px;
}
.post-top-username{
    float:left;
}

.post-top-username span{
    float:left;
    padding:0 3px;
}

.post-top-username a{
    float:left;
    color:#311823;
    font-weight:bold;
    font-size: 14px;
    text-transform: capitalize;
}

.post-time{
    float:right;
    font-size: 12px;
    line-height: 18px;
    color: rgba(144, 142, 142, 0.8);
}

.post-user-content-content{
    float:left;
    width:100%;
    margin-top:15px;
}

.shared-post-content{
    float:left;
    width:100%;
    border-left: 2px solid #d3d7dc;
    padding: 0 15px;
    color: #656565;
}

.shared-post-user-avatar{
    float:left;
    width: 30px;
    height:30px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.shared-post-meta{
    float:left;
    margin-left:15px;
    margin-top:-3px;
    text-transform: capitalize;
}

.shared-post-meta a{
    color: #656565;
}


.post-buttons{
    float: left;
    width: 100%;
    padding: 12px 0 12px 15px;
    margin-top: 15px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    color:#888;
}


.post-button{
    float:left;
    margin-right:20px;
}

.post-states{
    float:left;
    width:100%;
}

.like-button:hover{
    color:#ff2733;
    cursor: pointer;
}

.unlike-button.liked{
    color:#ff2733;
    cursor: pointer;
}

.share-button:hover{
    color:#1e70bf;
    cursor: pointer;
}
.shared-button{
    color:#1e70bf;
    cursor: default;
}


.shared-disable-gray{
    color:#C7C7C7;
    cursor: default;
}


.code{
    float:left;
    width:100%;
    padding-left:10%;
    background: #eee;
    color: #000;
    white-space: pre;
    line-height: 11px;
    margin-bottom:10px;
}

.post-options{
    display: none;
    position: absolute;
    top: 6px;
    right: 9px;
}

.post-time-shared{
    font-size: 10px;
    color: #CABBBB;
}


/* Comments */

.post-comments-wrapper{
    float:left;
    width:100%;
    padding: 0 15px;
    background: #F8F8F8;
    box-shadow: 0px 0px 2px 0px rgba(152, 152, 152, 0.2);
}

