<template name="post">

    <div class="post-wrapper">

        <div class="post-user-image">
            <a href="/@/{{username createdBy}}">
                <img src="{{getAvatar createdBy}}">
            </a>
        </div>

        <div class="inner-post-wrapper">
            <div class="post-user-content">

                {{! USERNAME}}

                <div class="post-top-username">
                    <a href="/@/{{username createdBy}}">
                        @{{username createdBy}}
                    </a>

                {{#if is_shared_post}}
                    <span>{{_ "shared"}}</span>
                    {{#with shared_post}}
                            <a href="/@/{{username createdBy}}">
                                @{{username createdBy}}
                            </a>
                    {{/with}}
                    <span>{{_ "post's"}}.</span>
                {{/if}}
                </div>

                <div class="post-time">
                        {{contentTime createdAt}}
                </div>

                {{! POST CONTENT}}

                <div class="post-user-content-content">

                    {{! SHARED POST}}

                    {{#if is_shared_post}}
                        {{#with shared_post}}
                                <div class="shared-post-content">
                                    <a href="/@/{{username createdBy}}">
                                        <img class="shared-post-user-avatar" src="{{getAvatar createdBy}}">
                                    </a>

                                    <div class="shared-post-meta">
                                        <a href="/@/{{username createdBy}}">
                                            @{{username createdBy}}
                                        </a>

                                        <div class="post-time">
                                            {{contentTime createdAt}}
                                        </div>
                                    </div>
                                    <div class="post-user-content-content">
                                        {{postContentParse content}}
                                    </div>
                                </div>
                        {{/with}}
                    {{else}}

                            {{! REGULAR POST}}

                            {{postContentParse content}}
                    {{/if}}

                </div>

                {{#if userIsOwner}}
                    <div class="post-options">
                        <div class="ui top right pointing dropdown post-options">
                            <i class="sort descending icon"></i>
                            <div class="menu" style="right: -7px;top: 10px;position: absolute;">
                                <div class="item"><i class="edit icon"></i> {{_ "edit"}}</div>
                                <div class="item deletePost"><i class="delete icon"></i> {{_ "delete"}}</div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>

            {{! POST BUTTONS}}

            <div class="post-buttons">
                {{#if likedPost}}
                    <div class="post-button like-button liked">
                        <i class="like icon"></i>
                        {{_ "unlike"}}
                    </div>
                {{else}}
                    <div class="post-button like-button">
                        <i class="like icon"></i>
                        {{_ "like"}}
                    </div>
                {{/if}}

                <div class="post-button share-button">
                    <i class="retweet icon"></i>
                    {{_ "share"}}
                </div>

                <div class="post-button comment-button right">
                    <i class="comment icon"></i>
                    {{numberOfComments}} {{_ "comments"}}
                </div>

            </div>

            {{> commentForm postid=_id}}

            {{! COMMENTS}}

            <div class="post-comments-wrapper post-comments-wrap-{{_id}}">
                {{> comments postid=_id}}
            </div>

        </div>

    </div>

</template>