.post-wrapper{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.inner-post-wrapper{
    float: right;
    width: calc(100% - 65px);
    background: #fff;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(152, 152, 152, 0.2);
    -moz-box-shadow: 0px 0px 2px 0px rgba(152, 152, 152, 0.2);
    box-shadow: 0px 0px 2px 0px rgba(152, 152, 152, 0.2);
    border-radius: .28571429rem;
}

.post-user-image{
    float:left;
}

.post-user-image img {
    float:left;
    width: 50px;
    height:50px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}


.post-user-content{
    float:left;
    width:100%;
    padding: 15px;
}

.post-top-username a{
    color:#311823;
    font-weight:bold;
    font-size: 14px;
    text-transform: capitalize;
}

.post-time{
    font-size: 12px;
    line-height: 18px;
    color: rgba(144, 142, 142, 0.8);
}

.post-user-content-content{
    float:left;
    width:100%;
    margin-top:7px;
}

.shared-post-content{
    float:left;
    width:100%;
    border-left: 2px solid #d3d7dc;
    padding: 0 15px;
    color: #656565;
}

.shared-post-user-avatar{
    float:left;
    width: 30px;
    height:30px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.shared-post-meta{
    float:left;
    margin-left:15px;
    margin-top:-3px;
    text-transform: capitalize;
}

.shared-post-meta a{
    color: #656565;
}


.post-buttons{
    float: left;
    width: 100%;
    padding: 12px 0 12px 15px;
    margin-top: 15px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    color:#888;
}


.post-button{
    float:left;
    margin-right:20px;
}

.post-states{
    float:left;
    width:100%;
}

.like-button:hover{
    color:#ff2733;
    cursor: pointer;
}

.like-button.liked{
    color:#ff2733;
    cursor: pointer;
}

.share-button:hover{
    color:#1e70bf;
    cursor: pointer;
}

.code{
    float:left;
    width:100%;
    padding-left:10%;
    background: #eee;
    color: #000;
    white-space: pre;
    line-height: 11px;
    margin-bottom:10px;
}



/* Comments */

.post-comments-wrapper{
    float:left;
    width:100%;
    padding: 0 15px;
    background: #eaedf1;
}

