.post-warp{
    float:left;
    width:100%;
    border-radius: .28571429rem;
    background:#fff;
    padding:15px 0 0 0;
}

.main-post{
    width:calc(100% - 30px);
    margin:0 auto;
    padding-bottom:10px;
}

.post-content{
    float:left;
    width: calc(100% - 50px);
    margin: 3px 0 0 10px;
}

.post-author{
    float:left;
    font-size: 14px;
    text-transform: capitalize;
    color:rgba(0,0,0,.87);
}


.post-author a:hover {
    color:rgba(0,0,0,.87);
}

.post-author:hover{
    text-decoration: underline;
}

.post-date{
    font-size: 1em;
    color: rgba(0,0,0,.4);
    float: right;
}

.post-date:hover{
    text-decoration: underline;
}

.post-text{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 16px;
    word-break: break-all;
}


.post-buttons{
    float: left;
    width: 100%;
    padding: 12px 0 12px 15px;
    margin-top: 15px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    color:#888;
}


.main-posts-avatar{
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin: 0.2em 0em 0em;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}


.code{
    float:left;
    width:100%;
    padding-left:10%;
    background: #eee;
    color: #000;
    white-space: pre;
    line-height: 11px;
    margin-bottom:10px;
}

.post-comments{
    float:left;
    width:100%;
    background: #eaedf1;
    padding: 10px 20px;
    border-bottom-left-radius:.28571429rem;
    border-bottom-right-radius:.28571429rem;
}

.post-comment-wrap{
    float: left;
    width: 100%;
    -webkit-box-shadow: 0px 0px 3px 0px rgb(230, 222, 222);
    -moz-box-shadow: 0px 0px 3px 0px rgb(230, 222, 222);
    box-shadow: 0px 0px 2px 0px rgba(152, 152, 152, 0.5);
    border-radius: .28571429rem;
    margin-top: 15px;
}

.post-button{
    float:left;
    margin-right:20px;
}

.post-states{
    float:left;
    width:100%;
}

.like-button:hover{
    color:#ff2733;
    cursor: pointer;
}

.like-button.liked{
    color:#ff2733;
    cursor: pointer;
}

.share-button:hover{
    color:#1e70bf;
    cursor: pointer;
}

.shared-post-wrap{
    float:left;
    width:100%;
    border-left:1px solid #BABBBC;
}