<template name="regularFeed">

    {{#if mainPostsReady}}
        <div class="main-posts">
            {{#each posts}}
                {{>post}}
            {{/each}}
        </div>

        {{#if $eq postsCount 'hasPosts'}}
            <button id="load-more" class="fluid ui teal button">{{_ "LoadMorePosts"}}</button>
        {{else}}

            {{#if $eq postsCount 'noPostsToLoad'}}
                <button class="fluid ui disabled button">{{_ "noPostsToShow"}}</button>
            {{else}}
                <button class="fluid ui disabled button">{{_ "noMorePostsToLoad"}}</button>
            {{/if}}
        {{/if}}

    {{else}}
        {{>loader}}
    {{/if}}

</template>
