<template name="profileEdit">

    <div class="profile-edit-main">

        <h2 class="ui icon header" style="width:100%;padding:20px 0;">
            <i class="settings icon"></i>
            <div class="content">
                Account Settings
                <div class="sub header">Manage your account settings and set e-mail preferences.</div>
            </div>
        </h2>

        <form>

        <div class="ui form">



            <div class="setting-label">
                Avatar
            </div>

            <div class="setting-block fields">
                <div class="field">
                    <div class="avatarUploadRegister">

                        <div class="float-width">
                            <label for="avatarUpload">
                                <div id="avatar"></div>
                            </label>
                        </div>

                        <div class="float-width">
                            <input id="avatarUpload" type="file" />
                            <label for="avatarUpload" class="ui button avatarUploadButton">Upload Avatar</label>
                        </div>

                    </div>
                </div>
            </div>



            <div class="setting-label">
                First name
            </div>

            <div class="setting-block fields">
                <div class="field fixed-width-30">
                   <input type="text" class="input" id="first-name">
                </div>
            </div>

            <div class="setting-label">
                Last name
            </div>

            <div class="setting-block fields">
                <div class="field fixed-width-30">
                    <input type="text" class="input" id="last-name">
                </div>
            </div>


            <div class="setting-label">
                About me
            </div>

            <div class="setting-block fields">
                <div class="field fixed-width-100">
                    <textarea rows="5" name="about-me" id="about-me"></textarea>
                </div>
            </div>



            <div class="setting-label">
                Feed Settings
            </div>

            <div class="setting-block fields">
                <div class="field">
                    <select id="feedType" class="ui dropdown">
                        <option value="">Feed Type</option>
                        <option value="liveFeed">Live Feed</option>
                        <option value="regularFeed">Regular Feed</option>
                    </select>
                </div>
            </div>





            <div class="setting-label">
                Privacy
            </div>

            <div class="setting-block grouped fields">
                <div class="field">
                    <div class="ui toggle private-profile checkbox">
                        <input type="checkbox" name="private-profile" id="private-profile">
                        <label for="private-profile">Private profile</label>
                    </div>
                </div>
            </div>

            <div class="form-masseges">
            <div class="ui success message">
                {{#if formSuccess}}
                       <span>{{formSuccess}}</span>
                {{/if}}
            </div>

                <div class="ui error message">
                    We have some problem to save you info :(
                </div>
            </div>

            <div class="profile-edit-buttons">
                <div class="ui button" id="discard-changes">
                    Discard Changes
                </div>

                <button class="ui primary button">
                    Save Settings
                </button>
            </div>

            </div>
        </form>
    </div>

</template>