<template name="liveFeed">

    {{#if mainPostsReady}}
        <div class="main-posts">
            {{#each posts}}
                {{>post}}
            {{/each}}
        </div>

        {{#if $eq postsCount 'hasPosts'}}

            <div id="load-more">{{_ "LoadMorePosts"}}</div>

        {{else}}

            {{#if $eq postsCount 'noPostsToLoad'}}
                <div>{{_ "noPostsToShow"}}</div>
            {{else}}

            <div>{{_ "noMorePostsToLoad"}}</div>

            {{/if}}
        {{/if}}

    {{else}}
        {{>loader}}
    {{/if}}

</template>
