<template name="navbar">

        <!-- FOR DEVELOPMENT ONLY -->
        //{/{>developmentTools}}

        <nav class="navbar-top navbar-white">
            <div class="navbar-container">
            <a href="/" class="navbar-logo">
                <img src="../logo/small.png">
            </a>

            {{>navbarSearch}}

            {{#if currentUser}}
                {{>navbaruser}}
            {{/if}}

            {{#unless currentUser}}
                {{>navbarguest}}
            {{/unless}}


            </div>
        </nav>
</template>