.navbar-top{
    float:left;
    width:100%;
    position:fixed;
    height: 60px;
    top: 0px;
    z-index: 1;
}

.navbar-white{
    background:#fff;
    border-bottom:1px solid #f5f5f5;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(234,234,234,1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(234,234,234,1);
    box-shadow: 0px 0px 11px 0px rgba(234,234,234,1);
}

.navbar-container{
    margin:0 auto;
    max-width:1127px;
}

.navbar-user-block{
    float:right;
}


footer{
    float: left;
    width: 100%;
    margin-top: 30px;
}

.navbar-logo{
    float:left;
}

.iconset {
    background: url("../images//navbar/top-tray.png") no-repeat;
    position: relative;
    top: 1px;
    display: inline-block;
    float: left;
    margin: 26px 10px;
}

.iconset.top-down-arrow {
    background-position: -238px -12px;
    width: 7px;
    height: 5px;
}


.iconset.messages-icon{
    background-position: -63px -8px;
    width: 16px;
    height: 12px;
}