<head>

    <meta charset="utf-8">
    <title>{{_ "nameOfSite" }}</title>
    <meta name="description" content="Cicodo - Social network for developers">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">

</head>

<body></body>

<template name="Layout">


            {{>navbar}}

            <div class="ui container top-from-navbar">

                {{>Template.dynamic template=content}}

                {{>footer}}

            </div>

</template>