<template name="navbarSearch">
<div class="navbar-search-wrap">
    <div class="ui small icon input">
        <input type="text" placeholder="{{_ "searchPlaceHolder"}}" id="navbar-search">
        <i class="search icon"></i>
    </div>

    {{#if searchHasResults}}


    <div class="ui list search-list listQuerys">
        {{#each searchHasResults}}
            <div class="item searchQuery">
                <div class="QueryWrap">
                    <a href="/profile/{{username}}">
                    <img class="ui avatar image avatar-search" src="{{profile.avatar}}">
                    <div class="content">
                        <a class="header {{#unless profile.firstname}} only-username {{/unless}}">@{{username}}</a>
                        {{#if profile.firstname}}
                            <div class="description capitalize font-size-12">{{profile.firstname}} {{profile.lastname}}</div>
                        {{/if}}
                    </div>
                    </a>
                </div>
            </div>
        {{/each}}
    </div>

    {{/if}}

</div>

</template>