<template name="footer">
    <footer>
        <div class="ui right floated horizontal list">
            <div class="disabled item" href="#">© Cicodo, Inc.</div>
            <a class="item" href="#">Terms</a>
            <a class="item" href="#">Privacy</a>
            <a class="item" href="#">Contact</a>
        </div>
        <div class="ui horizontal list">
            <a class="item" href="/about">About Us</a>
            <a class="item" href="#">Jobs</a>
        </div>
    </footer>
</template>