<template name="comments">
    <div class="post-comments">
        {{#each comments}}
            <div class="post-comment">
                <div class="comment-user-avatar">
                    <img src="{{avatarFromId user}}">
                </div>
                <div class="comment-meta">
                    <div class="comment-username">
                        @{{usernameFromId user}}
                    </div>

                    <div>·</div>
                    <div class="comment-date">
                        {{contentTime date}}
                    </div>
                </div>
                <div class="comment-content">
                    {{text}}
                </div>
            </div>
        {{/each}}

        {{#if hasMoreComments}}
            <div class="more-comments">
                {{_ "viewMoreComments"}}
            </div>
        {{/if}}


        {{#if hasMaxComments}}
            <div class="reset-comments">
                {{_ "hideComments"}}
            </div>
        {{/if}}
    </div>
</template>