<template name="mainPosts">

<div class="mainFeedWrap">

    <div id="feedType" class="ui dropdown small button right main-feed-type-dropdown">
        <span class="text">{{_ "feedType"}}</span>
        <div class="menu" style="top:40px;">
            <div class="item" data-value="liveFeed">
                <i class="lightning icon"></i>
                {{_ "liveFeed"}}
            </div>
            <div class="item" data-value="regularFeed">
                <i class="rocket icon"></i>
                {{_ "regularFeed"}}
            </div>
        </div>
    </div>

    {{>Template.dynamic template=feedType}}
</div>
</template>
