<template name="register">

    <div class="ui three column grid">

        <div class="column centered row loginHeader">
            <img src="logo/medium.png">
            <h1>{{_ "register"}}</h1>
        </div>

        <form class="ui column centered form loginForm">

            <div class="avatarUploadRegister">

                <div class="float-width">
                    <label for="avatarUpload">
                        <div id="avatar"></div>
                    </label>
                </div>

                <div class="float-width">
                    <input id="avatarUpload" type="file" />
                    <label for="avatarUpload" class="ui button avatarUploadButton">{{_ "uploadAvatar"}}</label>
                </div>

            </div>

            <div class="field">
                <label>{{_ "email"}}</label>
                <input placeholder="{{_ "email"}}" name="email" id="email" type="text">
            </div>

            <div class="field">
                <label>{{_ "username"}}</label>
                <input placeholder="{{_ "username"}}" name="username" id="username" type="text">
            </div>

            <div class="field">
                <label>{{_ "password"}}</label>
                <input placeholder="{{_ "password"}}"  type="password" name="password" id="password">
            </div>


            <div class="ui error message"></div>

            {{#if formErrors}}
                <div class="ui negative message">
                    <ul class="list">
                        <li>{{formErrors}}</li>
                    </ul>
                </div>
            {{/if}}

            <button type="submit" class="ui primary button">{{_ "creatAccount"}}</button>
        </form>

        </div>

</template>