<template name="leftSidebar">
    <div class="ui small middle aligned selection list">


            <!--<div class="item profileLink">-->
                <!--<img class="ui avatar image" src="{{currentUserData.profile.avatar}}">-->
                <!--<div class="content">-->
                    <!--<div class="header capitalize">@{{currentUserData.username}}</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="item settingsLink">
                <i class="settings icon"></i>
                <div class="content">
                    <div class="header">Edit Profile</div>
                </div>
            </div>

        <div class="item MessagesLink">
            <i class="send icon"></i>
            <div class="content">
                <div class="header">Messages</div>
            </div>
        </div>

    </div>
</template>