.post-warp{
    float:left;
    width:100%;
    background:#fff;
    padding:15px 0;
    margin-bottom:15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.01);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.01);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.01);
}

.main-post{
    width:calc(100% - 30px);
    margin:0 auto;
    padding-bottom:10px;
}

.post-content{
    float:left;
    width: 90%;
    margin: 3px 0 0 10px;
}

.post-author{
    font-size: 14px;
}

.post-author:hover{
    text-decoration: underline;
}

.post-date{
    font-size:11px;
    color:#BEC0C3;
}

.post-text{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 16px;
    word-break: break-all;
}

.main-posts-avatar{
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin: 0.2em 0em 0em;
}