<template name="messages">
    {{#if Template.subscriptionsReady}}
    <div class="ui grid ">
        <div class="three wide column computer only">
            <div class="messages-sidebar">
            <span>usernames: </span>
            <br>
            {{#each usernames}}
                <div class="messages-sidebar-user">
                    <img src="{{profile.avatar}}">
                    <span>{{username}}</span>
                </div>
            {{/each}}
            </div>
        </div>

        <div class="twelve wide column ">

                {{> messagesView}}

        </div>
    </div>
    {{/if}}
</template>