<template name="messages">
    <div class="messages-main">
        <div class="ui container messages-top-from-navbar">
            <div class="ui grid ">
                <div class="four wide column">
                    <div class="messages-sidebar">

                        <div class="top-messages-search">
                            <input type="text" id="user-messages-search" placeholder="{{_ "messagesUsersSearch"}}">
                            <i class="search icon"></i>
                        </div>
                    {{#each usernames}}
                        <div class="messages-sidebar-user {{#if currentMessageUser}} selected {{/if}}">
                            <img src="{{profile.avatar}}">
                            <span class="user-status-messages {{#if status.online}} online {{/if}}"></span>
                            <span class="username-sidebar">{{username}}</span>
                            <span class="last-message-sidebar">{{lastMessageByID _id}}</span>
                            <span class="last-message-date-sidebar">{{lastMessageTimeByID _id}}</span>
                        </div>
                    {{/each}}
                    </div>
                </div>
            {{#if Template.subscriptionsReady}}
                <div class="twelve wide column messages-view" style="height: 100vh;">
                    {{#if isMainMessages}}
                        {{>mainMessages}}
                    {{else}}
                        {{> messagesView}}
                    {{/if}}
                    {{>footer}}
                </div>
            {{/if}}
            </div>
        </div>
    </div>

</template>