<template name="navbaruser">
    <div class="ui floating dropdown navbar-user-block">

        <div class="navbar-dropdown-header">
            <i class="dropdown icon"></i>
            <img class="avatar small" src="{{avatar}}">
            <span>{{username}}</span>
        </div>


        <div class="menu">
            <a class="item" href="/"><i class="home icon"></i> Home</a>
            <a class="item" href="/profile/{{username}}"><i class="user icon"></i> Profile</a>
            <a class="item" href="/profile-edit"><i class="setting icon"></i> Settings</a>
            <a class="item" id="logout" href="#"><i class="sign out icon"></i> Logout</a>
        </div>

    </div>
</template>