<template name="navbaruser">



    <!--<div class="ui icon buttons">-->
        <!--<div class="ui top right pointing dropdown button masseges-dropdown">-->
            <!--<i class="user icon"></i>-->
            <!--<div class="menu">-->
                <!--<div class="item"><i class="edit icon"></i>Edit User</div>-->
                <!--<div class="item"><i class="delete icon"></i>Remove User</div>-->
                <!--<div class="item"><i class="hide icon"></i>Make Invisible</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->



    <div class="ui floating dropdown navbar-user-block username-dropdown">
        <div class="navbar-dropdown-header">
            <i class="dropdown icon"></i>
            <img class="avatar small" src="{{avatar}}">
            <span>@{{username}}</span>
            <a class="ui red circular label">{{hasNewMessages}}</a>
        </div>


        <div class="menu">
            <a class="item" href="/"><i class="home icon"></i> {{_ "home"}}</a>
            <a class="item" href="/@/{{username}}"><i class="user icon"></i> {{_ "Profile"}}</a>
            <a class="item" href="/settings"><i class="setting icon"></i> {{_ "Settings"}}</a>
            <a class="item" id="logout" href="#"><i class="sign out icon"></i> {{_ "Logout"}}</a>
        </div>

    </div>
</template>