<template name="profile">
{{#if Template.subscriptionsReady}}
    {{#with userProfileData}}

        <h2 class="ui center profile-header">

            <!--if its the profile of the viewing user-->
            {{#if userProfile}}
                <div class="user-profile-buttons-edit">
                    <a class="ui button" href="/profile-edit">
                        <i class="settings icon"></i>
                        Settings
                    </a>
                </div>
            {{/if}}



            <img class="ui circular image centered user-profile-avatar" src="{{profile.avatar}}">
            <span>{{username}}</span>
            <div class="about-me">{{profile.about}}</div>
        </h2>

        <!--if its NOT the profile of the viewing user-->
        {{#if currentUser}}
            {{#unless userProfile}}
                {{#if isUserFollowing}}
                    <div class="user-profile-buttons">
                        <button class="ui button" id="unfollow-user">
                            <i class="user icon"></i>
                            Unfollow
                        </button>
                    </div>
                {{else}}
                    <div class="user-profile-buttons">
                        <button class="ui button" id="follow-user">
                            <i class="user icon"></i>
                            Follow
                        </button>
                    </div>
                {{/if}}
            {{/unless}}
        {{/if}}

        <div class="ui center profile-header">
            <div class="seven wide column centered">


                <a class="ui label fireFollowersModal">
                    Followers
                    <div class="detail">{{followersCount}}</div>
                </a>


                <a class="ui label fireFollowingModal">
                    Following
                    <div class="detail">{{followingCount}}</div>
                </a>

            </div>
        </div>



    {{/with}}


    <div class="ui tiny followers modal">
        <i class="close icon"></i>
        <div class="header">
            {{username}} Followers
        </div>

        <div class="ui middle aligned selection list">
        {{#each followersData}}
            <div class="item">
                <img class="ui avatar image" src="{{profile.avatar}}">
                <div class="content">
                    <div class="header">{{username}}</div>
                </div>
            </div>
        {{/each}}
        </div>
        <div class="actions">
            <div class="ui cancel button">Close</div>
        </div>
    </div>




    <div class="ui tiny following modal">
        <i class="close icon"></i>
        <div class="header">
            {{username}} Following
        </div>
        
            <div class="ui middle aligned selection list">
                {{#each followsData}}
                    <div class="item">
                        <img class="ui avatar image" src="{{profile.avatar}}">
                        <div class="content">
                            <div class="header">{{username}}</div>
                        </div>
                    </div>
                {{/each}}
            </div>

        <div class="actions">
            <div class="ui cancel button">Close</div>
        </div>
    </div>



{{else}}

    {{>loader}}

{{/if}}


</template>
