<template name="postInsert">
    <form class="ui form textarea-clean">



            <div class="post-warp">

                <div class="post-insert-wrap">
                    <img class="avatar medium" src="{{avatar}}">
                    <textarea id="insert-posts-main" placeholder="What's on your mind?"></textarea>
                </div>

                <div class="post-insert-buttons">
                    <button class="ui primary small submit labeled icon button right">
                        <i class="icon edit"></i> {{_ "addPost"}}
                    </button>
                </div>
            </div>



    </form>

</template>