<template name="postInsert">

    <img class="post-insert-avatar" src="{{avatar}}">

    <form class="ui form textarea-clean">

            <div class="post-insert">
                <div class="post-insert-wrap">
                    <textarea id="insert-posts-main" placeholder="Hi {{username}}, what's on your mind?"></textarea>
                </div>

                <div class="post-insert-buttons">
                    <button class="ui primary small submit labeled icon button right">
                        <i class="icon edit"></i> {{_ "addPost"}}
                    </button>
                </div>
            </div>

    </form>

</template>