#insert-posts-main {
    width: 99%;
    float: right;
    min-height: 50px;
    max-height: 1200px;
    margin-left: 1px;
    resize: none;
}

.textarea-clean textarea{
    border:0px !important;
}

.post-insert-wrap{
    width: 100%;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid #dcdee2;
}

.post-insert-avatar{
    float: left;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.post-insert-buttons{
    width:calc(100% - 7px);
    margin:10px 0;
}

.post-insert{
    float: right;
    width: calc(100% - 65px);
    background: #fff;
    padding: 15px 0 15px 0;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #eee;
}