<template name="mainPosts">
    <div class="main-posts">
        {{#each posts}}
            <div class="main-post">
                <a class="post-author" href="/profile/{{username createdBy}}">
                    <img class="ui circular image main-posts-avatar" src="{{getAvatar createdBy}}">
                </a>
                <div class="post-content">
                    <a class="post-author" href="/profile/{{username createdBy}}">{{username createdBy}}</a>

                    <div class="post-date">{{createdAt.displayDate}}</div>
                    <div class="post-text">
                        {{content}}
                    </div>
                </div>

            </div>
        {{/each}}
    </div>

    {{#if postsCount}}
        <div id="load-more">Load more</div>
    {{else}}
        <div>No more posts to load.</div>
    {{/if}}

</template>
