<template name="mainPosts">
    <div class="main-posts">
        {{#each posts}}
            <div class="main-post">
                <a class="post-author" href="/profile/{{username userId}}">
                    <img class="ui circular image main-posts-avatar" src="{{getAvatar userId}}">
                </a>
                <div class="post-content">
                    <a class="post-author" href="/profile/{{username userId}}">{{username userId}}</a>

                    <div class="post-date">{{createdAt.displayDate}}</div>
                    <div class="post-text">
                        {{content}}
                    </div>
                </div>

            </div>
        {{/each}}
    </div>
</template>
