<template name="message">
    <div class="ui minimal comments">
        <div class="comment">
            <a class="avatar">
                <img src="http://semantic-ui.com/images/avatar/small/joe.jpg">
            </a>
            <div class="content">
                <a class="author">{{usernameFromId user}}</a>
                <div class="metadata">
                    <span class="date">{{timestampToTime timestamp}}</span>
                </div>
                <div class="text">
                    {{text}}
                </div>
            </div>
        </div>
        </div>
</template>