<template name="login">
    <div class="ui three column grid">

        <div class="column centered row loginHeader">
            <img src="logo/medium.png">
            <h1>{{_ "login"}}</h1>
        </div>

        <form class="ui column centered form loginForm">

            <div class="field">
                <label>{{_ "emailOrUsername"}}</label>
                <input placeholder="{{_ "emailOrUsername"}}" name="email" id="email" type="text">
            </div>

            <div class="field">
                <label>{{_ "password"}}</label>
                <input placeholder="{{_ "password"}}"  type="password" name="password" id="password">
            </div>

            <div class="ui error message"></div>

            {{#if formErrors}}
                <div class="ui negative message">
                    <ul class="list">
                        <li>{{formErrors}}</li>
                    </ul>
                </div>
            {{/if}}

            <button type="submit" class="ui primary button">
                {{_ "signin"}}
            </button>
        </form>

    </div>
</template>