<template name="profile">
{{#if Template.subscriptionsReady}}
    {{#with userProfileData}}


    {{! Cover image functionalty}}

    <div id="profile-cover-image" class="{{#if coverEdit}} profile-cover-image-on {{/if}}" style="background-image: url({{profile.cover}}); background-position-y: {{profile.cover_position}}px">

    {{#if profileEdit}}
        <div id="profile-edit-cover" class="opacity">

            {{#unless coverEdit}}
                <div class="profileEditBlock">
                    <i class="rocket icon"></i>
                        <span>Edit cover image</span>
                </div>
            {{/unless}}

            {{#if coverEdit}}
                <div id="profile-edit-cover">
                    <div class="cover-upload-button">
                        <input id="CoverUpload" type="file" />
                        <label for="CoverUpload" class="ui button coverUploadButton">{{_ "changeCoverImage"}}</label>
                    </div>
                </div>
            {{/if}}

        </div>

        {{#if coverEdit}}
            <div class="cover-upload-bar">

                    <div class="ui tiny button cancelCoverEdit">
                        <i class="edit icon"></i>
                        {{_ "cancel"}}
                    </div>

                    <div class="ui blue tiny button finishCoverEdit">
                        <i class="edit icon"></i>
                        {{_ "ok"}}
                    </div>

            </div>
        {{/if}}

    {{/if}}

    </div>

    {{! Cover image functionalty ENDS}}


    <div class="ui container">

        <div class="left-profile">

            <div class="profile-avatar-warp">
                <div class="user-profile-avatar user-edit-avatar" style="background-image:url({{profile.avatar}});background-size: 100% 100%;">
                </div>
                <span class="user-status {{#if userIsOnline}} online {{/if}}"></span>
            </div>

            <div class="profile-left-username-about">
                <span>@{{username}}</span>
                <div class="about-me">{{profile.about}}</div>
            </div>

        </div>






                    <h2 class="ui center profile-header">
                        <!--if its the profile of the viewing user-->
                        {{#if userProfile}}
                            <div class="user-profile-buttons-edit">

                            {{#if profileEdit}}
                                <div class="ui blue button finishEditProfile">
                                    <i class="edit icon"></i>
                                    Finish editing
                                </div>

                            {{else}}

                                <a class="ui green button" href="/settings">
                                    <i class="settings icon"></i>
                                    {{_ "settings"}}
                                </a>


                                <div class="ui button profileEdit">
                                    <i class="edit icon"></i>
                                    {{_ "edit"}}
                                </div>
                            {{/if}}
                            </div>
                        {{/if}}





                    </h2>

                    <!--if its NOT the profile of the viewing user-->
                    {{#if currentUser}}
                        {{#unless userProfile}}
                            {{#if isUserFollowing}}
                                <div class="user-profile-buttons">
                                    <button class="ui red button" id="unfollow-user">
                                        <i class="user icon"></i>
                                        {{_ "unfollow"}}
                                    </button>
                                </div>
                            {{else}}
                                <div class="user-profile-buttons">
                                    <button class="ui green button" id="follow-user">
                                        <i class="user icon"></i>
                                        {{_ "follow"}}
                                    </button>
                                </div>
                            {{/if}}
                        {{/unless}}
                    {{/if}}

                    <div class="ui center profile-header">
                        <div class="seven wide column centered">


                            <a class="ui label fireFollowersModal">
                                {{_ "followers"}}
                                <div class="detail">{{followersCount}}</div>
                            </a>


                            <a class="ui label fireFollowingModal">
                                {{_ "following"}}
                                <div class="detail">{{followingCount}}</div>
                            </a>

                        </div>
                    </div>
    </div>

    {{/with}}




{{else}}

    {{>loader}}

{{/if}}


</template>




















<!-- <div class="ui tiny followers modal">
    <i class="close icon"></i>
    <div class="header">
        {{username}} {{_ "followers"}}
    </div>

    <div class="ui middle aligned selection list">
        {{#each followersData}}
            <div class="item">
                <img class="ui avatar image" src="{{profile.avatar}}">
                <div class="content">
                    <div class="header">{{username}}</div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="actions">
        <div class="ui cancel button">{{_ "close"}}</div>
    </div>
</div>




<div class="ui tiny following modal">
    <i class="close icon"></i>
    <div class="header">
        {{username}} {{_ "following"}}
    </div>

    <div class="ui middle aligned selection list">
        {{#each followsData}}
            <div class="item">
                <img class="ui avatar image" src="{{profile.avatar}}">
                <div class="content">
                    <div class="header">{{username}}</div>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="actions">
        <div class="ui cancel button">{{_ "close"}}</div>
    </div>
</div> -->
