<template name="profile">
{{#if Template.subscriptionsReady}}
    {{#with userProfileData}}

    {{! Top Profile functionalty}}

        {{! Cover image functionalty}}

        <div id="profile-cover-image" class="{{#if coverEdit}} profile-cover-image-on {{/if}}" style="background-image: url({{profile.cover}}); background-position-y: {{profile.cover_position}}px">

        {{#if profileEdit}}
            <div class="profile-edit-cover opacity">

                {{#unless coverEdit}}
                    {{#unless photoEdit}}
                        <div class="profileEditBlock cover-image-edit-block">
                            <i class="rocket icon"></i>
                                <span>Edit cover image</span>
                        </div>
                    {{/unless}}
                {{/unless}}

                {{! COVER EDIT }}

                {{#if coverEdit}}
                    {{#unless coverPositionEdit}}
                        <div class="profile-edit-cover">
                            <input id="CoverUpload" type="file" />
                            <div class="large ui buttons profile-cover-edit-buttons">
                                <button class="ui button">
                                    <label for="CoverUpload" class="coverUploadButton">{{_ "changeCoverImage"}}</label>
                                </button>
                                <button class="ui button positionCoverEdit">Change Position</button>
                            </div>
                        </div>
                    {{/unless}}
                    {{#if coverPositionEdit}}
                        <div class="profile-edit-cover-position">
                            <i class="resize vertical icon"></i>
                            <span>drag to move your cover image</span>
                            <div class="profile-edit-cover-position-mask"></div>
                        </div>
                    {{/if}}
                {{/if}}
            </div>

            {{#if coverEdit}}
                <div class="cover-upload-bar">

                        <div class="ui tiny button cancelCoverEdit">
                            <i class="edit icon"></i>
                            {{_ "cancel"}}
                        </div>

                        <div class="ui blue tiny button finishCoverEdit">
                            <i class="edit icon"></i>
                            {{_ "ok"}}
                        </div>

                </div>
            {{/if}}

        {{/if}}

        </div>

        {{! Cover image functionalty ENDS}}


        <div class="ui container">

            <div class="left-profile">

                <div class="profile-avatar-warp">
                    <div class="user-profile-avatar user-edit-avatar" style="background-image:url({{profile.avatar}});background-size: 100% 100%;">
                    {{#if profileEdit}}

                    <div id="profile-edit-profile-image" class="opacity">

                        {{#if photoEdit}}
                           <div class="">

                               <input id="avatarUpload" type="file" />
                               <label for="avatarUpload" class="ui button">{{_ "uploadAvatar"}}</label>

                           </div>
                        {{/if}}

                        {{#unless photoEdit}}
                                <div class="profileEditBlock profile-image-edit-block">
                                    <i class="photo icon"></i>
                                    <span>Edit profile image</span>
                                </div>
                        {{/unless}}

                    </div>
                    {{/if}}
                    </div>
                    <!--{{!<span class="user-status {{#if userIsOnline}} online {{!{{/if}}">{{!</span>}}-->
                </div>

                <div class="profile-left-content">
                    <div class="profile-about-me">{{profile.about}}</div>
                </div>

            </div>


            <div class="top-profile">
                <span class="profile-usernmae capitalize">@{{username}}</span>

                {{#if userProfile}}
                    <div class="user-profile-top-buttons">

                        {{#if profileEdit}}
                            <div class="ui blue button finishEditProfile">
                                Finish editing
                            </div>

                        {{else}}

                            <a class="ui button" href="/settings">
                                {{_ "settings"}}
                            </a>


                            <div class="ui button profileEdit">
                                {{_ "edit"}}
                            </div>
                        {{/if}}
                    </div>
                {{/if}}
            </div>

        {{! Top Profile functionalty ENDS}}

        <div class="center-profile">

                <div class="ui secondary pointing menu">
                    <a class="profile-posts item active">
                        Posts
                    </a>
                    <a class="profile-following item">
                        Following
                    </a>
                    <a class="profile-followers item">
                        Followers
                    </a>
                </div>

            {{#if currentIsPosts}}
                <div class="profile-posts-wrap">
                    {{#each posts}}
                        {{>post}}
                    {{/each}}


                    {{#if $eq postsCount 'hasPosts'}}

                        <button id="load-more-posts" class="fluid ui teal button">{{_ "LoadMorePosts"}}</button>

                    {{else}}

                        {{#if $eq postsCount 'noPostsToLoad'}}
                            <button class="fluid ui disabled button">{{_ "noPostsToShow"}}</button>
                        {{else}}

                            <button class="fluid ui disabled button">{{_ "noMorePostsToLoad"}}</button>
                        {{/if}}
                    {{/if}}




                </div>

            {{/if}}


        {{#if currentIsFollowing}}
            following list
        {{/if}}



        {{#if currentIsFollowers}}
            followers list
        {{/if}}
        </div>

                    <h2 class="ui center profile-header">
                        <!--if its the profile of the viewing user-->
                    </h2>

                    <!--if its NOT the profile of the viewing user-->
                    {{#if currentUser}}
                        {{#unless userProfile}}
                            {{#if isUserFollowing}}
                                <div class="user-profile-buttons">
                                    <button class="ui red button" id="unfollow-user">
                                        <i class="user icon"></i>
                                        {{_ "unfollow"}}
                                    </button>
                                </div>
                            {{else}}
                                <div class="user-profile-buttons">
                                    <button class="ui green button" id="follow-user">
                                        <i class="user icon"></i>
                                        {{_ "follow"}}
                                    </button>
                                </div>
                            {{/if}}
                        {{/unless}}
                    {{/if}}

                    <div class="ui center profile-header">
                        <div class="seven wide column centered">


                            <a class="ui label fireFollowersModal">
                                {{_ "followers"}}
                                <div class="detail">{{followersCount}}</div>
                            </a>


                            <a class="ui label fireFollowingModal">
                                {{_ "following"}}
                                <div class="detail">{{followingCount}}</div>
                            </a>

                        </div>
                    </div>
    </div>

    {{/with}}

{{else}}

    {{>loader}}

{{/if}}


</template>








<!-- <div class="ui tiny followers modal">
    <i class="close icon"></i>
    <div class="header">
        {{username}} {{_ "followers"}}
    </div>

    <div class="ui middle aligned selection list">
        {{#each followersData}}
            <div class="item">
                <img class="ui avatar image" src="{{profile.avatar}}">
                <div class="content">
                    <div class="header">{{username}}</div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="actions">
        <div class="ui cancel button">{{_ "close"}}</div>
    </div>
</div>




<div class="ui tiny following modal">
    <i class="close icon"></i>
    <div class="header">
        {{username}} {{_ "following"}}
    </div>

    <div class="ui middle aligned selection list">
        {{#each followsData}}
            <div class="item">
                <img class="ui avatar image" src="{{profile.avatar}}">
                <div class="content">
                    <div class="header">{{username}}</div>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="actions">
        <div class="ui cancel button">{{_ "close"}}</div>
    </div>
</div> -->
