
.profile-avatar-warp{
    float: left;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-top: -100px;
}

.user-profile-avatar{
    width: 140px;
    height: 140px;
    border-radius:3px;
}

.user-edit-avatar a{
    color:#fff;
}


.profile-header{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
}

.profile-header span{
    float: left;
    width: 100%;
    margin-top: 10px;
}


.user-profile-buttons-edit{
    position: absolute;
    top:0;
    right:0;
    text-align: center;
    margin-top: 20px;
}

.user-profile-buttons{
    float: left;
    text-align: center;
    margin: 0 0 20px 0;
    width: 100%;
}

.about-me{
    font-size:12px;
}




.user-status {
    position: absolute;
    top: -5px;
    right: 5px;
    width: 19px !important;
    height: 19px !important;
    border-radius: 15px;
    border: 3px solid #f4f4f4;
    background: #DB2828;
}

.online{
    background: #1EBC30;
}


#profile-edit-cover{
    float:left;
    width:100%;
    height:400px;
    background-color: #1B1C1D;
    opacity: 0.7;
}




#profile-cover-image{
    float:left;
    width:100%;
    height:400px;
    background-size: cover;
    background-position-y: 0px;
    margin-top:40px;
}


.cover-upload-button{
    text-align: center;
    padding: 182px 0;
}


.cover-upload-button input[type="file"], #inputFileToLoad { display: none; }

.profileEditBlock{
    float:left;
    width:100%;
    text-align: center;
    padding: 168px 0;
}

.profileEditBlock:hover{
    box-shadow: inset 0 0 0 5px #1e70bf !important;
    cursor: pointer;
}

.profileEditBlock i{
    display: inline-block;
    color:#fff;
    font-size: 40px;
}

.profileEditBlock span{
    display: inline-block;
    width:100%;
    font-size: 23px;
    color:#fff;
}

.cover-upload-bar{
    float: left;
    position: absolute;
    width: 100%;
    background: #2B323A;
    color: #fff;
    text-align: center;
    bottom: -56px;
    padding: 13px 0;
}

.profile-cover-image-on{
    z-index: 9;
    position: relative;
}