<template name="profile">
{{#if Template.subscriptionsReady}}
    {{#with userProfileData}}

    {{! Top Profile functionalty}}

        {{! Cover image functionalty}}

        <div id="profile-cover-image" class="{{#if coverEdit}} profile-cover-image-on {{/if}}" style="background-image: url({{profile.cover}}); background-position-y: {{profile.cover_position}}px">

        {{#if profileEdit}}
            <div class="profile-edit-cover opacity">

                {{#unless coverEdit}}
                    {{#unless photoEdit}}
                        <div class="profileEditBlock cover-image-edit-block">
                            <i class="rocket icon"></i>
                                <span>{{_ "editCoverImage"}}</span>
                        </div>
                    {{/unless}}
                {{/unless}}

                {{! COVER EDIT }}

                {{#if coverEdit}}
                    {{#unless coverPositionEdit}}
                        <div class="profile-edit-cover">
                            <input id="CoverUpload" type="file" />
                            <div class="large ui buttons profile-cover-edit-buttons">
                                <button class="ui button">
                                    <label for="CoverUpload" class="coverUploadButton">{{_ "changeCoverImage"}}</label>
                                </button>
                                <button class="ui button positionCoverEdit">{{_ "changeCoverPosition"}}</button>
                            </div>
                        </div>
                    {{/unless}}
                    {{#if coverPositionEdit}}
                        <div class="profile-edit-cover-position">
                            <i class="resize vertical icon"></i>
                            <span>{{_ "dragToMoveCover"}}</span>
                            <div class="profile-edit-cover-position-mask"></div>
                        </div>
                    {{/if}}
                {{/if}}
            </div>

            {{#if coverEdit}}
                <div class="cover-upload-bar">

                        <div class="ui tiny button cancelCoverEdit">
                            <i class="edit icon"></i>
                            {{_ "cancel"}}
                        </div>

                        <div class="ui blue tiny button finishCoverEdit">
                            <i class="edit icon"></i>
                            {{_ "ok"}}
                        </div>

                </div>
            {{/if}}

        {{/if}}

        </div>

        {{! Cover image functionalty ENDS}}


        <div class="ui container">

            <div class="left-profile">

                <div class="profile-avatar-warp">
                    <div class="user-profile-avatar user-edit-avatar" style="background-image:url({{profile.avatar}});background-size: 100% 100%;">
                    {{#if profileEdit}}

                    <div id="profile-edit-profile-image" class="opacity">

                        {{#if photoEdit}}
                           <div class="">

                               <input id="avatarUpload" type="file" />
                               <label for="avatarUpload" class="ui button">{{_ "uploadAvatar"}}</label>

                           </div>
                        {{/if}}

                        {{#unless photoEdit}}
                                <div class="profileEditBlock profile-image-edit-block">
                                    <i class="photo icon"></i>
                                    <span>{{_ "editProfileImage"}}</span>
                                </div>
                        {{/unless}}

                    </div>
                    {{/if}}
                    </div>
                    <!--{{!<span class="user-status {{#if userIsOnline}} online {{!{{/if}}">{{!</span>}}-->
                </div>

                <div class="profile-left-content">
                    <div class="profile-about-me">{{profile.about}}</div>
                </div>

            </div>


            <div class="top-profile">
                <span class="profile-usernmae capitalize">@{{username}}</span>

                {{#if userProfile}}
                    <div class="user-profile-top-buttons">

                        {{#if profileEdit}}
                            <div class="ui blue button finishEditProfile">
                                {{_ "finishEditing"}}
                            </div>

                        {{else}}

                            <a class="ui button" href="/settings">
                                <i class="setting icon"></i>
                                {{_ "settings"}}
                            </a>


                            <div class="ui button profileEdit">
                                <i class="paint brush icon"></i>
                                {{_ "edit"}}
                            </div>
                        {{/if}}
                    </div>
                {{/if}}


                <!--if its NOT the profile of the viewing user-->
                {{#if currentUser}}
                    {{#unless userProfile}}
                        {{#if isUserFollowing}}
                            <div class="user-profile-buttons">
                                <button class="ui red button" id="unfollow-user">
                                    <i class="user icon"></i>
                                    {{_ "unfollow"}}
                                </button>
                            </div>
                        {{else}}
                            <div class="user-profile-buttons">
                                <button class="ui green button" id="follow-user">
                                    <i class="user icon"></i>
                                    {{_ "follow"}}
                                </button>
                            </div>
                        {{/if}}



                        <a class="ui button top-buttons-sep" href="/messages/{{username}}">
                            <i class="comment outline icon"></i>
                            {{_ "message"}}
                        </a>




                    {{/unless}}
                {{/if}}



            </div>

        {{! Top Profile functionalty ENDS}}



        {{! Center Profile contents }}

        <div class="center-profile">

                <div class="ui secondary pointing menu">
                    <a class="profile-posts item active" style="line-height: 24px;">
                        {{_ "posts"}}
                    </a>
                    <a class="profile-following item">
                        {{_ "following"}} <span class="ui grey circular label">{{followingCount}}</span>
                    </a>
                    <a class="profile-followers item">
                        {{_ "followers"}} <span class="ui grey circular label">{{followersCount}}</span>
                    </a>
                </div>

            {{#if currentIsPosts}}
                <div class="profile-posts-wrap">

                    {{#if currentUser}}
                        {{#if userProfile}}
                            <div class="profile-post-insert">
                                {{>postInsert}}
                            </div>
                        {{/if}}
                    {{/if}}

                    {{#each posts}}
                        {{>post}}
                    {{/each}}


                    {{#if $eq postsCount 'hasPosts'}}

                        <button id="load-more-posts" class="fluid ui teal button">{{_ "LoadMorePosts"}}</button>

                    {{else}}

                        {{#if $eq postsCount 'noPostsToLoad'}}
                            <button class="fluid ui disabled button">{{_ "noPostsToShow"}}</button>
                        {{else}}

                            <button class="fluid ui disabled button">{{_ "noMorePostsToLoad"}}</button>
                        {{/if}}
                    {{/if}}

                </div>

            {{/if}}

            {{! Center Profile contents ENDS}}


            {{#if currentIsFollowing}}
                <div class="container-flex-list">
                    {{#each followsData}}
                        <div class="flex-users-box">
                            <img src="{{profile.avatar}}">
                            <span>@{{username}}</span>
                        </div>
                    {{/each}}


                    {{#unless followingCount}}
                        <div class="ui big label noDataFollowingProfile">
                            {{_ "noData"}}
                        </div>
                    {{/unless}}

                </div>
            {{/if}}

            {{#if currentIsFollowers}}
                <div class="container-flex-list">
                    {{#each followersData}}
                        <div class="flex-users-box">
                            <img src="{{profile.avatar}}">
                            <span>@{{username}}</span>
                        </div>
                    {{/each}}

                    {{#unless followersCount}}
                        <div class="ui big label noDataFollowingProfile">
                            {{_ "noData"}}
                        </div>
                    {{/unless}}

                </div>
            {{/if}}

        </div>

    </div>

    {{/with}}

{{else}}

    {{>loader}}

{{/if}}


</template>








<!-- <div class="ui tiny followers modal">
    <i class="close icon"></i>
    <div class="header">
        {{username}} {{_ "followers"}}
    </div>

    <div class="ui middle aligned selection list">
        {{#each followersData}}
            <div class="item">
                <img class="ui avatar image" src="{{profile.avatar}}">
                <div class="content">
                    <div class="header">{{username}}</div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="actions">
        <div class="ui cancel button">{{_ "close"}}</div>
    </div>
</div>




<div class="ui tiny following modal">
    <i class="close icon"></i>
    <div class="header">
        {{username}} {{_ "following"}}
    </div>

    <div class="ui middle aligned selection list">
        {{#each followsData}}
            <div class="item">
                <img class="ui avatar image" src="{{profile.avatar}}">
                <div class="content">
                    <div class="header">{{username}}</div>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="actions">
        <div class="ui cancel button">{{_ "close"}}</div>
    </div>
</div> -->
