

.navbar-dropdown-header i{
    float: right;
}

.navbar-dropdown-header span{
    float: right;
    text-transform: capitalize;
    font-size: 15px;
}

.navbar-dropdown-header img{
    margin-top: 10px;
    float: right;
}

.username-dropdown .menu{
    left: -60px !important;
}

.notifications-dropdown .alarm.icon{
    font-size: 20px;
    transform: rotate(15deg);
}

.notifications-dropdown{
    position: relative;
    margin: 21px 0px 0px 0px;
}

.notification-navbar-view{
    min-width: 400px !important;
    max-width: 400px !important;
    max-height: 300px;
    overflow: auto;
}


.notification-item{
    float: left;
    width: 100%;
    border-bottom: 1px solid #f2f2f2 !important;
}

.notification-item img{
    width:40px !important;
    height:40px !important;
    -webkit-border-radius:40px !important;
    -moz-border-radius:40px !important;
    border-radius:40px !important;
    float: left !important;
}


.notification-item a{
    font-weight:bold;
    color: #000;
}

.notification-item a:hover{
    text-decoration: underline;
}




.notification-time{
    float: left;
    font-size: 11px;
    padding-top: 5px;
}

.new-notification{
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 10px;
    background: #ff3589;
    width: auto !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    min-width: 12px !important;
    min-height: 12px !important;
    text-align: center;
}

.masseges-dropdown{
    position: relative;
    margin: 17px 21px;
}

.messages-panel-width{

    min-width: 400px !important;
    max-width: 400px !important;
}

.messages-panel-avatar{
    width:40px !important;
    height:40px !important;
    -webkit-border-radius:40px !important;
    -moz-border-radius:40px !important;
    border-radius:40px !important;
    float: left !important;
}

.messagesUserItem .content{
    float:right;
    width: calc(100% - 50px);
}

.messagesUserItem .content .prev-message-text, .messagesUserItem .content div {
    float:left;
    width:100%;
}

.messagesUserItem .content div {
    font-weight: bold;
    text-transform: capitalize;
}


.messagesUserItem .prev-message-text{
    margin-top:4px;
}


.messagesUserItem{
    float: left;
    width: 100%;
    border-bottom: 1px solid #f2f2f2 !important;
}

.messagesUserItem:hover{
    background:#f2f2f2;
}

.new-messages{
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 10px;
    background: #0084FF;
    width: auto !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    /* padding: 5px; */
    width: 15px !important;
    padding: 1px 0;
    text-align: center;
}

.allMessages{
    float:left;
    width:100%;
}

.no-messages{
    display: inline-block;
    padding:7px 0;
}

.no-messages i{
    width:100%;
    text-align: center;
}

.no-messages span{
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.navbar-messages-notification{
    position: absolute;
    right: -4px;
    top: -6px;
}



.notification-navbar-view::-webkit-scrollbar {
    width: 12px;
}

.notification-navbar-view::-webkit-scrollbar-track {

}

.notification-navbar-view::-webkit-scrollbar-thumb {
    background: #cfcfcf;
}