<template name="navbaruser">

    <div class="ui floating dropdown navbar-user-block username-dropdown">
        <div class="navbar-dropdown-header">
            <img class="avatar small" src="{{avatar}}">
            <i class="iconset top-down-arrow"></i>
            <span>@{{username}}</span>
        </div>


        <div class="menu">
            <a class="item" href="/"><i class="home icon"></i> {{_ "home"}}</a>
            <a class="item" href="/@/{{username}}"><i class="user icon"></i> {{_ "Profile"}}</a>
            <a class="item" href="/messages"><i class="mail icon"></i> {{_ "messages"}}</a>
            <a class="item" href="/settings"><i class="setting icon"></i> {{_ "Settings"}}</a>
            <a class="item" id="logout" href="#"><i class="sign out icon"></i> {{_ "Logout"}}</a>
        </div>

    </div>


    {{!-- Messages TopBar --}}
    <div class="ui top right pointing dropdown masseges-dropdown">
        <i class="large ui-font-color mail icon"></i>
        {{#if hasNewMessages}}
        <div class="notification navbar-messages-notification">{{hasNewMessages}}</div>
        {{/if}}

            <div class="menu messages-panel-width">
                {{#if messages}}
                    {{#each messages}}

                            <div class="item messagesUserItem">
                                <img class="messages-panel-avatar" src="{{avatarFromId user_message_id}}">
                                <div class="content">
                                    <div class="header">{{usernameFromId user_message_id}}</div>
                                    <span class="prev-message-text">{{messagesShortPreview last_message}}</span>
                                    {{#if newMessages}}
                                    <span class="new-messages">{{newMessages}}</span>
                                    {{/if}}

                                </div>
                            </div>

                    {{/each}}
                    <div class="item allMessages">
                        {{_ "viewAllMessages"}}
                    </div>
                {{/if}}

                {{#unless messages}}
                <div class="item">

                    <span class="no-messages">
                        <i class="big send outline icon"></i>
                        <span>{{_ "noMessages"}}</span>
                    </span>
                </div>
                {{/unless}}

            </div>

    </div>





</template>