

.navbar-dropdown-header i{
    float: right;
}

.navbar-dropdown-header span{
    float: right;
    text-transform: capitalize;
    font-size: 15px;
}

.navbar-dropdown-header img{
    margin-top: 10px;
    float: right;
}

.username-dropdown .menu{
    left: -60px !important;
}

.notifications-dropdown .alarm-topbar-only.icon{
    font-size: 20px;
    transform: rotate(15deg);
}

.notifications-dropdown{
    position: relative;
    margin: 21px 0px 0px 0px;
}


.notifications-dropdown .navbar-messages-notification{
    top:-10px;
}

.notification-navbar-view{
    min-width: 400px !important;
    max-width: 400px !important;
    max-height: 300px;
    overflow: auto;
}


.notification-item{
    float: left;
    width: 100%;
    border-bottom: 1px solid #f2f2f2 !important;
    padding: 0.71428571rem 1.14285714rem !important;
    cursor: pointer;
}

.notification-item img{
    width:40px !important;
    height:40px !important;
    max-height:40px !important;
    -webkit-border-radius:40px !important;
    -moz-border-radius:40px !important;
    border-radius:40px !important;
    float: left !important;
    margin-right: 10px;
}


.notification-item a{
    font-weight:bold;
    color: #000;
}

.notification-item a:hover{
    text-decoration: underline;
}

.no-notifications{
    float:left;
    width:100%;
    text-align: center;
    padding: 10px 0 10px 0;
}

.no-notifications span{
    float:left;
    width:100%;
}

.no-notifications i{
    margin-bottom: 10px;
    font-size: 40px !important;
    line-height: 40px;
}


.notification-time{
    float: left;
    font-size: 11px;
}

.new-notification{
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 10px;
    background: #ff3589;
    width: auto !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    min-width: 12px !important;
    min-height: 12px !important;
    text-align: center;
}

.masseges-dropdown{
    position: relative;
    margin: 17px 21px;
}

.messages-panel-width{
    min-width: 400px !important;
    max-width: 400px !important;
    max-height: 300px;
    overflow: auto;
}

.messages-panel-avatar{
    width:40px !important;
    height:40px !important;
    max-height:40px !important;
    -webkit-border-radius:40px !important;
    -moz-border-radius:40px !important;
    border-radius:40px !important;
    float: left !important;
}

.messagesUserItem .content{
    float:right;
    width: calc(100% - 50px);

}

.messagesUserItem .content .prev-message-text, .messagesUserItem .content div {
    float:left;
    width:100%;
}

.messagesUserItem .content div {
    font-weight: bold;
    text-transform: capitalize;
}


.messagesUserItem{
    float: left;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #f2f2f2 !important;
    padding: 0.71428571rem 1.14285714rem !important;
    cursor: pointer;
}

.messagesUserItem:hover{
    background:#f2f2f2;
}

.new-messages{
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 8px;
    background: #0084FF;
    width: auto !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 50px;
    color: #fff;
    min-width: 15px !important;
    height: 15px;
    line-height: 15px;
    text-align: center;
}

.allMessages{
    float:left;
    width:100%;
    border-top: 1px solid #f2f2f2 !important;
}


.allMessages:hover {
    background: #f9f9f9 !important;
}

.no-messages{
    display: inline-block;
    padding:7px 0;
}

.no-messages i{
    width: 100%;
    float: left;
    text-align: center;
    margin: 15px 0 0px 0;
}

.no-messages span{
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.navbar-messages-notification{
    position: absolute;
    right: -4px;
    top: -6px;
}




.notification-navbar-view::-webkit-scrollbar, .messages-panel-width::-webkit-scrollbar {
    width: 8px;
}

.notification-navbar-view::-webkit-scrollbar-track, .messages-panel-width::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.notification-navbar-view::-webkit-scrollbar-thumb, .messages-panel-width::-webkit-scrollbar-thumb {
    background: #cfcfcf;
}