.navbar-dropdown-header{
    float: right;
    height: 50px;
    line-height: 50px;
}

.navbar-dropdown-header i{
    float: right;
}

.navbar-dropdown-header span{
    float: right;
    margin-right: 7px;
    text-transform: capitalize;
}

.navbar-dropdown-header img{
    margin-top: 10px;
    float: right;
}

.messages-notification{
    position: absolute;
    right:0;
    top:0;
}

.masseges-dropdown{
    position: relative;
    margin-top:10px;
}

.messages-panel-width{
    width:300px;
}

.messages-panel-avatar{
    float: left !important;
}